@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100vw;
  height: 100vh;
}
.list-header {
  width: 100%;
  height: 8%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.landing-container {
  width: 100%;
  height: 88%;
  background-color: lightyellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}

.section-gen {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0.1rem solid #000000;
}

.section-gen h1 {
  width: 100%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: center;
}

.section-gen form {
  width: 100%;
  position: absolute;
  top: 5rem;
  left: 0.2rem;
  text-align: center;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.list-bag1 {
  position: absolute;
  top: 10rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
  border: 0.1rem solid #000000;
}

.list-bag1 li {
  margin: 1rem;
  border: 0.1rem solid #000000;
  background-color: lightgreen;
  color: #000000;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.list-bag2 {
  position: absolute;
  top: 10rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
  border: 0.1rem solid #000000;
}

.list-bag2 li {
  margin: 1rem;
  border: 0.1rem solid #000000;
  background-color: blue;
  color: #ffffff;
}

.section-gen h1 {
  width: 100%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: center;
}

.btn {
  background-color: lightblue;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
}
.list-footer {
  background-color: lightgray;
  width: 100%;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
